@use "../../styles//mixins" as *;

.button {
  border: none;
  background: var(--color-white);
  width: fit-content;
  padding: pxToRem(18) pxToRem(24);
  font-size: pxToRem(15);
  font-weight: var(--font-weight-medium);
  letter-spacing: pxToRem(1);
  text-transform: uppercase;
  border-radius: pxToRem(8);
  cursor: pointer;
  color: var(--color-dark-grey);

  &.peach {
    color: var(--color-white);
    background: var(--color-peach);
  }

  &:hover {
    color: var(--color-white);
    background: var(--color-light-peach);
  }
}
