@use "@/styles//mixins" as *;

.hero-large {
  position: relative;
  background: var(--color-peach);
  margin: 0 pxToRem(-24);
  padding: pxToRem(80) pxToRem(24) pxToRem(450);
  display: flex;
  flex-direction: column;
  gap: pxToRem(14);
  align-items: center;
  overflow: hidden;
  background-image: url("/images/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position-y: center;

  img {
    object-fit: cover;
    position: absolute;
    top: pxToRem(275);
  }

  @include mq(md) {
    $background-size: min(80vw, pxToRem(675));
    padding: pxToRem(60) pxToRem(60) pxToRem(450);
    margin: 0;
    border-radius: pxToRem(15);
    gap: pxToRem(23);
    background-position-x: calc(20vw + 30%);
    background-size: $background-size $background-size;

    img {
      top: pxToRem(250);
    }
  }

  @include mq(lg) {
    padding: pxToRem(145) pxToRem(475) pxToRem(200) pxToRem(95);
    align-items: flex-start;
    gap: pxToRem(11);

    $background-size: min(60vw, pxToRem(950));
    background-size: $background-size $background-size;
    background-position-x: calc(20vw + 60%);
    background-position-y: top;

    img {
      top: 0;
      right: pxToRem(-75);
      transform: scale(1.15);
    }
  }
}

.title {
  color: var(--color-white);
  text-align: center;
  font-size: pxToRem(32);
  font-weight: var(--font-weight-medium);
  line-height: pxToRem(36);
  max-width: pxToRem(360);

  @include mq(md) {
    font-size: pxToRem(48);
    line-height: pxToRem(48);
    max-width: pxToRem(600);
  }

  @include mq(lg) {
    text-align: left;
    margin-bottom: pxToRem(25);
  }
}

.subTitle {
  font-size: pxToRem(15);
  color: var(--color-white);
  text-align: center;
  line-height: pxToRem(25);
  max-width: pxToRem(340);

  @include mq(md) {
    font-size: pxToRem(16);
    font-weight: pxToRem(26);
    padding: 0 pxToRem(70);
    max-width: pxToRem(600);
  }

  @include mq(lg) {
    padding: 0;
    padding-right: pxToRem(100);
    text-align: left;
    margin-bottom: pxToRem(30);
  }
}
