@use "../../styles//mixins" as *;

.hero-large {
  position: relative;
  background: var(--color-peach);
  margin: 0 -24px;
  padding: 80px 24px 450px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  overflow: hidden;

  img {
    object-fit: cover;
    position: absolute;
    top: 275px;
  }

  @include mq(md) {
    padding: 60px 60px 450px;
    margin: 0;
    border-radius: 15px;
    gap: 8px;

    img {
      top: 250px;
    }
  }

  @include mq(lg) {
    padding: 145px 475px 200px 95px;
    align-items: flex-start;
    gap: 11px;

    img {
      top: -35px;
      right: -75px;
    }
  }
}

.title {
  color: var(--color-white);
  text-align: center;
  font-size: 32px;
  font-weight: var(--font-weight-medium);
  line-height: 36px;

  @include mq(md) {
    font-size: 48px;
    line-height: 48px;
  }

  @include mq(lg) {
    text-align: left;
  }
}

.subTitle {
  font-size: 15px;
  color: var(--color-white);
  text-align: center;
  line-height: 25px;

  @include mq(md) {
    font-size: 16px;
    font-weight: 26px;
    padding: 0 70px;
  }

  @include mq(lg) {
    padding: 0;
    padding-right: 100px;
    text-align: left;
  }
}
