@use "@/styles/mixins" as *;

.footer {
  background: var(--color-black);
  margin: pxToRem(50) pxToRem(-24) 0;
  padding: pxToRem(64) pxToRem(24);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pxToRem(40);

  & > .divider {
    display: none;
  }

  @include mq(md) {
    padding: pxToRem(80) pxToRem(40);
    margin: pxToRem(50) pxToRem(-40) 0;

    & > .divider {
      display: initial;
    }
  }

  @include mq(lg) {
    padding: pxToRem(72) pxToRem(164);
    margin: pxToRem(50) pxToRem(-164) 0;
  }
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pxToRem(32);

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    & .divider {
      display: none;
    }
  }
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pxToRem(40);

  @include mq(md) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.divider {
  background: var(--color-white);
  width: 100%;
  opacity: 0.1;
  // margin: pxToRem(32) 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pxToRem(32);
  font-size: pxToRem(14);
  line-height: pxToRem(14);
  letter-spacing: pxToRem(2);
  text-transform: uppercase;

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  @include mq(md) {
    flex-direction: row;
    gap: pxToRem(42);
  }
}

.section {
  // margin: pxToRem(40) 0;
  color: #fff;
  opacity: 0.5;
  font-size: pxToRem(16);
  line-height: pxToRem(26);
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-weight: 700;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
  }
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: pxToRem(20);
}
