@use "@/styles/mixins" as *;

.page-link-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: pxToRem(24);

  @include mq(lg) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.page-link-list-item {
  isolation: isolate;
  position: relative;
  background-color: var(--color-black);
  border-radius: pxToRem(15);
  text-transform: uppercase;
  overflow: hidden;

  @include mq(lg) {
    &-1 {
      grid-row: 1 / span 2;
    }
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: pxToRem(12);
    align-items: center;
    justify-content: center;
    background-color: rgba(#1d1c1e, 0.7);

    &:hover {
      background-color: rgba(#e7816b, 0.7);
    }
  }

  .title {
    font-size: pxToRem(28);
    line-height: pxToRem(36);
    font-weight: 500;
    letter-spacing: pxToRem(1.4);

    @include mq(md) {
      font-size: pxToRem(40);
      line-height: pxToRem(48);
      letter-spacing: pxToRem(2);
    }
  }

  .cta {
    font-size: pxToRem(15);
    font-weight: 500;
    letter-spacing: pxToRem(5);
    display: flex;
    align-items: center;
    gap: pxToRem(21);
  }
}
